
@import "tailwindcss";

.flex-babar::-webkit-scrollbar {
  display: none;
}


.bg-gradient {
    --tw-gradient-position: to bottom in oklab;
    background-image: linear-gradient(var(--tw-gradient-stops));
}